@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4 m-5">Welcome to TodoList Web</h2>
    <p class="text-body text-center" style="font-size: 20px">
        This is my first website created using ASP.NET CORE
    </p>
    <a asp-controller="Todo" asp-action="Index" class="btn btn-primary">Get Started</a>
</div>
