@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-center">
    <h2 class="display-4 m-5">Privacy Policy</h2>
    <p class="text-body text-center" style="font-size: 20px">
        No Privacy Policy ;)
    </p>
</div>
